*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: var(--main-font);
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-light), sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  width: 100%;
  position: relative;

  //@extend full-height-grow
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.flex-grow {
  flex-grow: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// main {
//   min-height: 100vh;
// }

.clearfix {
  overflow: auto;
}